@media (min-width: 576px) {
/* Scrollbar */ 
  ::-webkit-scrollbar {
      width: 15px;
  }

  ::-webkit-scrollbar-track {
      background: #c6c6c6;
  }

  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #707070;
  }

  ::-webkit-scrollbar-thumb {
      background: #adadad;
      box-shadow: inset 0 0 5px #707070;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #898989;
  }

}
